body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  text-shadow: 0 0.1rem 0.1rem black;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  padding: 20px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spacer {
  aspect-ratio: 960/200;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("../img/layered-waves-haikei.svg");
  margin-top: -100px;
}

.layer2 {
  background-image: url("../img/layered-waves-haikei-2.svg");
}

.purple {
  background-color: #6600ff;
}

.pink {
  background-color: #d61acf;
}

.black {
  background-color: black !important;
}

#visual {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#about {
  min-height: 600px !important;
  padding-top: 10vh;
}

#about-text {
  width: 100%;
}

#experience {
  box-shadow: inset 0 0 2rem black;
}

#experience .row {
  display: flex;
  flex-wrap: wrap;
}

/*
 * Navbar
 */

header {
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 99;
}

li .nav-link {
  padding: 0.25rem 0;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 0.05rem 0.1rem black;
  margin-left: 1rem;
}

li .nav-link:hover,
li .nav-link:focus {
  color: #fa69b4;
}

li .active {
  color: #fff;
}

/*
 * Cards
 */

.card {
  position: relative;
  background-color: #fff;
  border: 5px solid rgb(36, 36, 36);
  border-radius: 1rem;
  text-shadow: 0 0.2rem 0.2rem black;
  transition: transform 0.2s;
  text-align: left;
}

.card:hover {
  transform: scale(1.2);
  z-index: 90;
  text-decoration: underline;
}

#card1 {
  background-image: url("../img/landing-background.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#card2 {
  background-image: url("../img/everplains.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#card3 {
  background-image: url("../img/pokemon.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*
 * Form
 */

form {
  display: grid;
  width: 100%;
}

/*
 * Media Queries
 */

@media screen and (min-width: 769px) {
  form {
    width: 50%;
  }

  #about {
    min-height: 400px;
  }

  #about-text {
    width: 50%;
  }
}

@media screen and (min-width: 1025px) {
  #about-text {
    width: 40%;
  }
}

@media screen and (min-width: 1920px) {
  #about {
    margin-bottom: -200px;
  }
}
